<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="/css/styles.css">
    <!-- 引用Boxicons开源库 -->
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <input type="checkbox" name="check" id="check">

        <h1 class="logo">LOGO</h1>
        <nav class="nav">
            <h1 class="logo">LOGO</h1>
            <div class="divider"></div>
            <a href="about">About</a>
            <a href="search">Search</a>
            <a href="upload">Upload</a>
            <a href="/">Home</a>

        </nav>

        <div class="user-form-group">
            <a class="login" href="login">Login</a>
            <a class="signup" href="register">Register</a>
            <label for="check">
                <i class='bx bx-menu menu'></i>
                <i class='bx bx-x close-menu'></i>
            </label>
        </div>
    </header>
    <h1>About</h1>
    <div class="about-p">
        <p>The proposed Photography Competition is aiming to promote fairness and inclusiveness in chemical science
            community,
            which is open to the public. All photos will be displayed during the exhibition event at the University of
            Aberdeen and
            disseminated online for the public.</p>
        <p>The knowledge of Chemistry is the basis on which future generations will build their societies. It is
            therefore
            crucial
            that the knowledge created through research and transferred through education is free of bias. There is
            indeed a
            need to
            take necessary initiates to ensure that fairness and inclusiveness are at the core of the chemical science
            community.</p>
        <p>A Photography Competition will be held to attract all levels of students, researchers, academics, and anyone
            who
            are
            working in the field relates to chemical science to submit their photos to enrol the competition. The
            competition is
            open to anyone regardless of gender, disability, socio-economic background, language, race and ethnicity,
            the
            LGBT+
            community and more. Strong encouragement will be provided for submissions from the underrepresented group.
            Each
            of the
            applicant will be requested to submit one photo.Examples of the photos could be a photo of themselves in the
            lab, a photo of the research findings.
            (LinkedIn, Twitter).</p>
        <p>An exhibition will be held at the University of Aberdeen in summer to display all submitted photos. All
            photos
            will be physically displayed for two days at the School of Engineering. One 1st Award, two 2nd Awards and
            three
            3rd
            Awards will be announced during the exhibition event to encourage more submissions for future activities.
        </p>
        <p>A website will be created to collect and disseminate all submitted photos for the Photography Competition.
            The
            competition will be closed by 1 May 2025, then all submitted photos will be disseminated on the website
            which
            will be
            made available for public for voting. The voting will be open until 31 May 2025 of the project. Anyone who
            access to the
            website will be able to vote their favourite photos (max 3). The final voting results will be used to select
            the
            one
            ‘1st Award”, the two 2nd Awards’, and the three 3rd Awards. Each of the awardee will be issued a certificate
            from the
            School of Engineering, University of Aberdeen and cash prize (£200 for the 1st Award, £100 for the 2nd Award
            and
            £50 for
            the 3rd Award).</p>
    </div>

</body>

</html>