<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <form action="/search-result" method="GET">
    <p>What book do you want?</p>
    <input id="search-box" type="text" name="keyword" value="Default">
    <input type="submit" value="Search">
    </form>
</body>
</html>