@import "~boxicons/css/boxicons.min.css";

/* Style for handling errors */
.error {
    border: 2px solid red;
}

/* Used to set the style of the input text */
.parent-container {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
    text-align: center;
}

#typed-output {
    white-space: pre-wrap;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 60px;
    display: inline;
    vertical-align: bottom;
}

.typed-cursor {
    color: black;
    font-size: 60px;
    display: inline;
    vertical-align: bottom;
}



/* The style of the Header section is derived from the [How to Create Responsive Navber using HTML and CSS]
Original author: 悟禅禅
link：https: //www.xiaohongshu.com/explore/65e6a4ce0000000004003f68?app_platform=ios&app_version=8.64&share_from_user_hidden=true&xsec_source=app_share&type=video&xsec_token=CBEt7b4rxYM4yB--y13d-qfz4Y_-oYcmXSvIryf01ZFH0=&author_share=1&xhsshare=CopyLink&shareRedId=ODwzOTQ-PDk2NzUyOTgwNjY6OTc6Sj5M&apptime=1733845603&share_id=b6449fbd92b34fe283dae54d5487195a
/* Styling of the header navigation bar */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    height: 70px;
    padding: 0 30px;
}

.logo {

    color: rgb(255, 255, 255);
}

.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 16px;
    transition: 300ms;

}

.nav a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.user-form-group a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.signup {
    border: rgba(255, 255, 255, 0.5) 2px solid;
    padding: 8px 16px;
    margin-left: 16px;
    transition: 300ms;
}

.signup:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0)
}

.nav .logo {
    display: none;
}

#check {
    display: none;
}

/* There's a bug here that hasn't been tweaked yet */
/* .user-form-group label {
    display: none;
} */


@media (max-width: 760px) {
    .nav {
        position: absolute;
        left: -100%;
        top: 0;
        display: flex;
        flex-direction: column;
        background: rgb(0, 0, 0, 0.7);
        height: 100vh;
        width: 50%;
        padding: 0px 20px;
        gap: 16px;
        transform: 500ms;
        box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .nav .logo {
        margin-left: 16px;
        margin-top: 30px;
        display: block;
    }

    .divider {
        background: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 2px;
        margin: 5px 0px;
    }

    .user-form-group {
        display: flex;
        align-items: center;
    }

    .signup {
        margin-right: 16px;
    }

    .menu {
        font-size: 40px;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    #check:checked~.user-form-group .menu {
        display: none;
    }

    .close-menu {
        font-size: 45px;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    .user-form-group .close-menu {
        display: none;
    }

    #check:checked~.user-form-group .close-menu {
        display: block;
    }

    #check:checked~.nav {
        left: 0%;
    }

    #typed-output {
        font-size: 1.5rem;
    }

}


.Main-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/picture/image2.jpg');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;

}

body {
    background-color: black;
    color: white;
    margin: 0;
    align-items: center;
    text-align: center;
}

.about-p {
    color: white;
    font-size: 20px;
    margin: 20px;
}

h1 {
    text-align: center;
    margin: 20px 0;
}


/* Setting the gallery style */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns per row */
    gap: 20px;
    /* Spacing between images */
    margin: 20px;
}

/* Setting the image style */
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}